/* Fonts */
@font-face {
  font-family: "NunitoLight"; /*a name to be used later*/
  src: url("../static/fonts/Nunito-Light.ttf"); /*URL to font*/
}

@font-face {
  font-family: "NunitoExtraLight"; /*a name to be used later*/
  src: url("../static/fonts/Nunito-ExtraLight.ttf"); /*URL to font*/
}

@font-face {
  font-family: "NunitoSansBlack"; /*a name to be used later*/
  src: url("../static/fonts/NunitoSans-Black.ttf"); /*URL to font*/
}

/* Custom Properties */

:root {
  --smokeWhite: #f7f7f7;
  --gold: #d8d5bd;
  --aquamarine: #95dce1;
  --pink: #ff8592;
  --cyan: #73c0d3;
  --green: #8ee095;
  --darkBlack: #1e1e1e;
}

/* Helpers */

html,
body,
#root,
.AppContainer,
.HomeContainer,
.FullHeight {
  height: 100%;
  /* display: flex; */
}

body {
  font-family: "NunitoExtraLight";
}

.NabBarAvoiding {
  padding-top: 72px;
  /* height: calc(100% - 72px); */
}

.NabBarAvoidingHeight {
  /* margin-top: 72px; */
  height: calc(100% - 72px);
}

.FlexStyle {
  display: flex;
}

.Centred {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Texts */

/* p,
b,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--darkBlack);
} */
b {
  font-weight: "black";
}

/* Navigation */

.link {
  text-decoration: none;
  color: var(--darkBlack);
}

.NavBar {
  padding-left: 2%;
  /* padding-right: 5%; */
  padding-top: 4px;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: transparent; */
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.NavHome {
  background-color: transparent;
}

.NavProtas {
  /* background-color: transparent; */
  background-color: var(--darkBlack);
}

.NavBarLeft {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* padding-left: 5%; */
}

.NavBarRight {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5%;
}

.NavBarLinks {
  color: white;
  text-decoration: none;
  font-size: 30;
  font-family: "NunitoExtraLight";
}

.ActiveNavBarLinks {
  text-decoration: underline;
  text-decoration-color: var(--pink);
}
.ActiveNavBarLinks::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  color: var(--pink);
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: 4px;
}

.LogoMenu {
  margin-top: 10px;
}

/* Home */

/* .HomeContainer {
  display: flex;
  flex: 1; */
/* width: 100%;
  background-image: url("../static/images/homeBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: fixed;
} */

.HomeBackground {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.95) 0%,
      rgba(0, 0, 0, 0.1) 30%,
      rgba(0, 0, 0, 0.1) 70%,
      rgba(0, 0, 0, 0.95) 100%
    ),
    url("../static/images/homeBackground.jpg");

  background-repeat: no-repeat;
  background-size: 100% auto;
  /* bottom: 0; */
}

.HomeTitle {
  position: relative;
  font-size: 3.6rem;
  font-family: "NunitoSansBlack";
  top: 45vh;
  margin-left: 10vh;
  color: var(--gold);
}

/* Protagonistas */

.ProtagonistaName {
  font-family: "NunitoSansBlack";
  margin-block-end: 0.2em;
  color: "var(--gold)";
}

.ProtagonistaDescription {
  margin-block-start: 0.2em;
  color: "var(--gold)";
}

/* Protagonista Ficha */

.Protagonista {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: var(--darkBlack);
}

.Name {
  font-family: "NunitoSansBlack";
  font-size: 3.3rem;
  margin-block-end: 0;
}

.Mov {
  font-family: "NunitoSansBlack";
  font-size: 1.6rem;
  margin-block-end: 0;
}

.Text {
  font-size: 1.2rem;
}

/* .contain {
  height: "calc(100% - 60)";
  object-fit: scale-down;
} */
